
  ol, ul {
    list-style: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, button, cite, code,
  del, dfn, em, img, input, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    border: 0;
    font-size: 100%;
    box-sizing:border-box;
    font-family:arial;
    display:block;
    cursor:default;
  }
  a {
    color: none;
    text-decoration: none;
    cursor:pointer;
  }

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html,body{
    min-height: 100% !important;
    height: 100%;

}
.top{
    z-index:2000;
    position:absolute;
    top:0;
    left:0;
    background-color:rgba(1,1,1,0);
    font-size:4vh;
    padding:15px 0 15px 0;
    width:100%;
    color:white;
    user-select:none;
    font-weight:600;
  }

.topSchimba{
  transition:0.3s;
  position:fixed;
  background:rgba(15,15,15,0.8);
  font-size:2.5vh;
  color:rgb(255,255,255);
  padding:10px 0 10px 0;
  font-weight:600;
}

.baraJosMeniu{
  background:white;
  height:3px;
  position:absolute;
  bottom:0;
  transition:0.3s;
}

.baraJosMeniu2{
  display:none;
  background:white;
  height:2px;
  position:absolute;
  bottom:0;
  transition:0.3s;
}
.meniu{
  margin-right:10%;
}

.meniu div{
  float:right;
  margin-left:20px;
}

.meniu div:hover{
  cursor:pointer;
}

.topNume{
  font-family: 'Great Vibes', cursive;
  position:absolute;
  left:10%;
}


.indexPrimaPoza{
  display:flex;
  box-shadow: inset  0px 77px 122px -42px rgba(144,144,144,1);
  background-image:url('../Poze/index.jpg');
  background-size:cover;
  background-color:rgb(255,255,255);
  filter:grayscale(100%);
  padding-left:0;
  height:100%;
  width:100%;
}

.titlu{
  position:absolute;
  font-size:8vh;
  color:white;
  width: 80%;
  margin-top:25%;
  margin-left: 10%;
  margin-right: 10%;
  max-width: none;
}

.bottom{
    position:relative;
    left:0;
    right:0;
    background:rgba(1,1,1,1);
    font-size:4vh;
    padding:5px;
    width:100%;
    height:2000px;
    color:white;

}




.despre{
  width:80%;
  padding:35vh 15vh 35vh 15vh;
  display:flex;
  margin:auto;
  flex-direction:column;
  color:rgb(155,155,155);
  font-size:4vh;
  text-align:center;
}
.despre a{
  display:inline;
  color:rgb(94, 170, 187);
}
.despre div:nth-child(1){
  font-size:7vh;
  padding:40px 0px 40px 0px;
  text-align:center;

}



.skills{
  position:relative;
  width:100%;
  overflow:hidden;
  margin-top:10vh;
  padding-bottom:20vh;

}


.skillsBackground{
  position:absolute;
  left:0;
  top:0;
  background:url('../Poze/skills.jpg');
  background-size:cover;
  filter:grayscale(100%);
  background-attachment:fixed;
  height:100%;
  width:100%;
  background-color:red;
  clip-path:polygon(0 10vw ,100% 0,100% 100% ,0 100% );
}



.containerSkills{
  display:flex;
  flex-wrap: wrap;
  position:relative;
  font-size:3vh;
  padding:40vh 0 20vh 0;
  width:80%;
  margin-left:10%;
  margin-right:10%;
}


.skillsPanou{
  color:rgb(66,66,66);
  float:left;
  background-color:white;
  width:40vh;
  padding:6vh;
  margin:auto;
  box-shadow:3px 3px 5px 0 rgb(20,20,20);
  text-align:center;
  border-radius:2%;
  min-height:60vh;
  margin-top:5vh;
}
.skillsPanou div{
  margin-bottom:5vh;
}
.skillsPanou div:nth-child(1){
  margin-bottom:0;
  font-size:5vh;
}
.skillsPanou div:nth-child(2){
  width:60%;
  height:1px;
  background:rgb(155,155,155);
  margin:4vh 0 4vh 20%;
}






   @media screen and (max-width: 600px){




   }