
  ol, ul {
    list-style: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, button, cite, code,
  del, dfn, em, img, input, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    border: 0;
    font-size: 100%;
    box-sizing:border-box;
    font-family:arial;
    display:block;
    cursor:default;
  }
  a {
    color: none;
    text-decoration: none;
    cursor:pointer;
  }

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html,body{
    min-height: 100% !important;
    height: 100%;

}
.top{
    z-index:2000;
    position:absolute;
    top:0;
    left:0;
    background-color:rgba(1,1,1,0);
    font-size:4vh;
    padding:15px 0 15px 0;
    width:100%;
    color:white;
    user-select:none;
    font-weight:600;
  }

.topSchimba{
  transition:0.3s;
  position:fixed;
  background:rgba(15,15,15,0.8);
  font-size:2.5vh;
  color:rgb(255,255,255);
  padding:10px 0 10px 0;
  font-weight:600;
}

.baraJosMeniu{
  background:white;
  height:3px;
  position:absolute;
  bottom:0;
  transition:0.3s;
}

.baraJosMeniu2{
  display:none;
  background:white;
  height:2px;
  position:absolute;
  bottom:0;
  transition:0.3s;
}
.meniu{
  margin-right:10%;
}

.meniu div{
  float:right;
  margin-left:20px;
}

.meniu div:hover{
  cursor:pointer;
}

.topNume{
  font-family: 'Great Vibes', cursive;
  position:absolute;
  left:10%;
}


.indexPrimaPoza{
  display:flex;
  box-shadow: inset  0px 77px 122px -42px rgba(144,144,144,1);
  background-image:url('../Poze/index.jpg');
  background-size:cover;
  background-color:rgb(255,255,255);
  filter:grayscale(100%);
  padding-left:0;
  height:100%;
  width:100%;
}

.titlu{
  position:absolute;
  font-size:8vh;
  color:white;
  width: 80%;
  margin-top:25%;
  margin-left: 10%;
  margin-right: 10%;
  max-width: none;
}




.despre{
  width:80%;
  padding:35vh 15vh 35vh 15vh;
  display:flex;
  margin:auto;
  flex-direction:column;
  color:rgb(155,155,155);
  font-size:4vh;
  text-align:center;
}
.despre a{
  display:inline;
  color:rgb(94, 170, 187);
}
.despre div:nth-child(1){
  font-size:7vh;
  padding:40px 0px 40px 0px;
  text-align:center;

}



.skills{
  position:relative;
  width:100%;
  overflow:hidden;
  margin-top:10vh;
  padding-bottom:20vh;

}


.skillsBackground{
  position:absolute;
  left:0;
  top:0;
  background:url('../Poze/skills.jpg');
  background-size:cover;
  filter:grayscale(100%);
  background-attachment:fixed;
  height:100%;
  width:100%;
  background-color:red;
  clip-path:polygon(0 10vw ,100% 0,100% 100% ,0 95% );
}



.containerSkills{
  display:flex;
  flex-wrap: wrap;
  position:relative;
  font-size:3vh;
  padding:40vh 0 20vh 0;
  width:80%;
  margin-left:10%;
  margin-right:10%;
}


.skillsPanou{
  color:rgb(66,66,66);
  float:left;
  background-color:white;
  width:40vh;
  padding:6vh;
  margin:auto;
  box-shadow:3px 3px 5px 0 rgb(20,20,20);
  text-align:center;
  border-radius:2%;
  min-height:60vh;
  margin-top:5vh;
}
.skillsPanou div{
  margin-bottom:5vh;
}
.skillsPanou div:nth-child(1){
  margin-bottom:0;
  font-size:5vh;
}
.skillsPanou div:nth-child(2){
  width:60%;
  height:1px;
  background:rgb(200,200,200);
  margin:4vh 0 4vh 20%;
}




.portofoliu{
  position:relative;
  width:100%;
  overflow:hidden;
  padding-bottom:20vh;

}


.containerPortofoliu{
  display:flex;
  flex-wrap: wrap;
  flex-direction:column;
  position:relative;
  font-size:3vh;
  padding:20vh 0 20vh 0;
  width:80%;
  margin-left:10%;
  margin-right:10%;
}
.titluPortofoliu{
  font-size:3.5vh;
  color:rgb(244,244,244);
  margin:auto;

}


.proiect{
  position:relative;
  display:flex;
  justify-content: center;
  margin-top:20vh;
}

.proiectStanga{
  margin:auto;
  margin-left:0;
  margin-top:0;
}
.proiectStanga img{
  position:relative;
  overflow:hidden;
  width:60vh;
  height:35vh;

}
.visitWebsite{
  font-weight:600;
  position:relative;
  padding:2vh;
  cursor:pointer;
  color:white!important;
  background:rgb(43, 121, 139);
  font-size:3vh;
  text-align:center;
  width:60%;
  margin:auto;
  transition:0.3s;
  margin-top:2vh;
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  background-size: 300% 100%;

}

.visitWebsite:hover{
    background-position: 100% 0;
  }
.visitWebsite:hover div{
  -webkit-clip-path: polygon(0 24%, 100% 69%, 100% 100%, 0% 100%);
  clip-path: polygon(0 24%, 100% 69%, 100% 100%, 0% 100%);
}


.visitWebsite div{
  transition:0.4s;
  position:absolute;
  background:rgba(255,255,255,0.2);
  width:100%;
  height:100%;
  margin:auto;
  left:0;
  top:0;
  -webkit-clip-path: polygon(0 79%, 100% 18%, 100% 100%, 0% 100%);
  clip-path: polygon(0 79%, 100% 18%, 100% 100%, 0% 100%);

  cursor:pointer;
}

.codSursa{
  position:relative;
  display:flex;
  flex-direction:row;
  padding:1vh;
  cursor:pointer;
  color:white!important;
  background:rgb(43, 121, 139);
  font-size:2vh;
  width:40%;
  font-weight:700;
  margin:auto;
  transition:0.3s;
  margin-top:2vh;
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  background-size: 300% 100%;

}
.codSursa div{
  margin:auto;
  cursor:pointer;
}
.codSursa img{
  width:20%;
  height:100%;
  margin:auto;
  cursor:pointer;
}
.codSursa:hover{
    background-position: 100% 0;
  }


.proiectDreapta{
  color:rgb(155,155,155);
  margin:auto;
  margin-top:10px;
  margin-left:20vh;


}
.proiectDreaptaTitlu{
  font-size:5vh;
  color:rgb(100,100,100);
  margin:0 0 4vh 2vh;
  font-weight:600;
}

.proiectDreaptaTehnologii{
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  margin-top:2vh;
}
.proiectDreaptaTehnologii div{
  font-size:2vh;
  color:white;
  padding:1vh;
  border-radius:15px;
  margin-right:1vh;
  margin-top:0.5vh;
  background-image: linear-gradient(to right, rgb(220, 145, 145),rgb(235, 181, 128));
}


.contact{
  position:relative;
  width:100%;
  overflow:hidden;

}

.contactContainer{
  position:relative;
  display:flex;
  flex-direction:column;
  color:gray;
  margin:0 10% 0 10%;
  color:rgb(155,155,155);
  padding:10vh 0 30vh 0;
  font-size:4vh;
  justify-content: center;

}
.contactContainer img{
  width:10vh;
  height:10vh;
  cursor:pointer;
  }

.contactTitlu{
  font-size:10vh;
  font-weight:600;
  margin-bottom:10vh;
  color:rgb(100,100,100);

}

.contactSus{
  position:relative;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  margin:auto;
  justify-content: center;
  text-align:center;
}
.contactPost{
  position:relative;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: center;
  margin:auto;
  margin-bottom:3vh;

}

.contactPost img{
  width:6vh;
  height:100%;
  cursor:default;
}
.contactPost div{
  margin:auto auto auto 1vh;
}


.contactJos{
  position:relative;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  margin:auto;
  justify-content: center;
  margin-top:5vh;

}


.bottom{
    position:relative;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    background:rgba(40, 40, 40,1);
    font-size:2vh;
    padding:3vh 10% 3vh 10%;
    width:100%;
    color:white;

}
.bottom div{
  margin-top:1vh;
}

.bottomLeft{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  width:50%;
}
.bottomRight{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  width:50%;
  text-align:right;
}
.bottomRight img{
  height:5vh;
  width:5vh;
  cursor:pointer;
}
.bottomRight a{
  display:none;
  position:absolute;
}

   @media screen and (max-width: 600px){




   }